.section-pr:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 52px;
  height: 2px;
  background: #064E3B;
}
.section-pr {
  position: relative;
  margin-bottom: 24px;
  padding-left: 68px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}
